{% extends 'main.html' %}

{% block content %}

<div class="rrc_l">
    <div class="content">
        <h2>Manage Flags</h2>
        <p>Flag models represent teams, status effects, etc. They contain information about a flag (name, visibility, and friendly status), weapon, context, and indirect specific permissions, multipliers, and bonuses, and information about the flag's behaviour on the event of a kill or death.</p>
    </div>
    <div class="rcr_c manage_buttons">
        <a href="{% url 'manage' %}" class="button">
            <h3>Back to Management</h3>
        </a>
        <a href="{% url 'new_flag' %}" class="button">
            <h3>Create New Flag</h3>
        </a>
    </div>
</div>

{% for flag in flags %}
    <a href="{{ flag.id }}">
        <div class="content">
            <h3>{{ flag }}</h3>
            <p>
                Config - [ Visibility: 
                {% if flag.visibility == "EVR" %}
                    All Players, 
                {% elif flag.visibility == "SHR" %}
                    Flagged Players, 
                {% else %}
                    Hidden, 
                {% endif %}
                Friendly Fire: 
                {% if flag.friendly %}
                    Disabled
                {% else %}
                    Enabled
                {% endif %}
                ]
            </p>
            <p>
                Weaponry - [
                Melee: 
                {% if flag.allowed_melee %}
                    ×{{ flag.multiplier_melee }} +{{ flag.bonus_melee }}, 
                {% else %}
                    Banned, 
                {% endif %}
                Thrown: 
                {% if flag.allowed_thrown %}
                    ×{{ flag.multiplier_thrown }} +{{ flag.bonus_thrown }}, 
                {% else %}
                    Banned, 
                {% endif %}
                Ranged: 
                {% if flag.allowed_ranged %}
                    ×{{ flag.multiplier_ranged }} +{{ flag.bonus_ranged }}, 
                {% else %}
                    Banned, 
                {% endif %}
                Animal: 
                {% if flag.allowed_melee %}
                    ×{{ flag.multiplier_animal }} +{{ flag.bonus_animal }}, 
                {% else %}
                    Banned, 
                {% endif %}
                Costume: 
                {% if flag.allowed_melee %}
                    ×{{ flag.multiplier_costume }} +{{ flag.bonus_costume }} 
                {% else %}
                    Banned 
                {% endif %}
                ]
            </p>
            <p>
                Contexts - [
                Normal: 
                {% if flag.allowed_normal %}
                    ×{{ flag.multiplier_normal }} +{{ flag.bonus_normal }}, 
                {% else %}
                    Banned, 
                {% endif %}
                Raid: 
                {% if flag.allowed_raid %}
                    ×{{ flag.multiplier_raid }} +{{ flag.bonus_raid }}, 
                {% else %}
                    Banned, 
                {% endif %}
                Duel: 
                {% if flag.allowed_duel %}
                    ×{{ flag.multiplier_duel }} +{{ flag.bonus_duel }} 
                {% else %}
                    Banned 
                {% endif %}
                ]
            </p>
            <p>
                Indirects - [
                Indirect: 
                {% if flag.allowed_indirect %}
                    ×{{ flag.multiplier_indirect }} +{{ flag.bonus_indirect }} 
                {% else %}
                    Banned 
                {% endif %}
                ]
            </p>
            <p>
                Flags - [
                On Kill: 
                {% if flag.on_kill == "KNP" %}
                    Keep, 
                {% elif flag.on_kill == "LNP" %}
                    Lose, 
                {% elif flag.on_kill == "KAP" %}
                    Keep and Pass, 
                {% else %}
                    Lose and Pass, 
                {% endif %}
                On Death: 
                {% if flag.on_death == "KNP" %}
                    Keep, 
                {% elif flag.on_death == "LNP" %}
                    Lose, 
                {% elif flag.on_death == "KAP" %}
                    Keep and Pass, 
                {% else %}
                    Lose and Pass, 
                {% endif %}
                ]
            </p>
        </div>
    </a>
{% empty %}
    <div class="content">
        <h3>No Flags Found</h3>
    </div>
{% endfor %}

{% endblock content %}