{% extends 'main.html' %}

{% block content %}

<div class="rrc_l">
    <div class="content">
        <h2>Manage Events</h2>
        <p>Event script models contain a configuration that dictates the rules of the event, and timing information (start offset and duration).</p>
    </div>
    <div class="rcr_c container_buttons">
        <a href="{% url 'manage' %}" class="button">
            <h3>Back to Management</h3>
        </a>
        <a href="{% url 'new_event' %}" class="button">
            <h3>Create New Event</h3>
        </a>
    </div>
</div>

{% for event in events %}
    <a href="{{ event.id }}">
        <div class="content">
            <h3>{{ event }}</h3>
            <p>
                Config - [{{ event.event_config }}]
            </p>
            <p>
                Timing - [Start Offset: {{ event.event_start }}, Duration: {{ event.event_duration }} ]
            </p>
        </div>
    </a>
{% empty %}
    <div class="content">
        <h3>No Events Found</h3>
    </div>
{% endfor %}

{% endblock content %}