{% extends 'main.html' %}

{% block content %}

<h2>Manage Scripts</h2>
<a href="{% url 'manage' %}">
    <p>back to management</p>
</a>
<a href="{% url 'new_script' %}">
    <p>create a new script</p>
</a>

{% for script in scripts %}
    <div class="content">
        <h3>{{ script }}</h3>
        <p>
            Scripts - [ Primary: {{ script.primary_script }}
            {% for event in script.event_scripts %}
                , Event: {{ event }}
            {% endfor %}
            ]
        </p>
    </div>
{% empty %}
    <h3>No scripts found</h3>
{% endfor %}

{% endblock content %}