{% extends 'main.html' %}

{% block content %}
<div id="account">
    <!-- edit account data -->
    <div class="rrc_c">
        <div>
            <div class="content">
                <form method="POST" action="update_user/">
                    {% csrf_token %}
                    
                    {{ form_user.as_p }}

                    <input type="submit" value="Update User"/>
                </form>
            </div>

            <div class="content">
                <form method="POST" action="change_password/">
                    {% csrf_token %}
                    
                    {{ form_password.as_p }}

                    <input type="submit" value="Change Password"/>
                </form>
            </div>
        </div>

        <div class="content">
            <form method="POST" action="{{ action_assassin }}">
                {% csrf_token %}

                {{ form_assassin.as_p }}

                <input type="submit" value="{{ value_assassin }}"/>
            </form>
        </div>
    </div>

    <!-- stats tab -->
    <div class="content align_hc">
        <!-- TODO Add Player Statistics -->
        <h3>Player Statistics Coming Soon...</h3>
    </div>

    <div class="logout_span align_hc">
        {% if request.user.is_staff %}
        <a href="{% url 'manage' %}" class="button">
            <h3>Management</h3>
        </a>
        {% endif %}
        <a href="{% url 'logout' %}" class="button">
            <h3>Logout</h3>
        </a>
    </div>
</div>

{% endblock content %}