<!DOCTYPE html>

<!-- Enable static resources -->
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <title>Oxford Guild of Assassins</title>
    </head>

    <body>
        <!-- Navigation Bar at top of every page -->
        {% include 'navbar.html' %}

        <!-- Insert page content here -->
        {% block content %}
        {% endblock content %}

        <!-- Debug messages will be output here, Todo Remove -->
        {% if messages %}
        <ul class="debug-messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}        

        <!-- Load Javascript for page -->
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>