<!DOCTYPE html>

<!-- Enable static resources -->
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Orbitron&family=Titillium+Web:wght@300">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <title>Oxford Guild of Assassins</title>
    </head>

    <body>
        <!-- Navigation Bar at top of every page -->
        {% include 'navbar.html' %}

        <div class="wrapper">
            {% block content %}
            {% endblock content %}
        </div>     

        {% if messages %}
            {% for message in messages %}
                <script>
                    alert("{{ message }}")
                </script>
            {% endfor %}
        {% endif %}
        <!-- Load Javascript for page -->
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>