{% load static %}

<header>
    <nav>
        <!-- OGA Logo -->
        <a href="{% url 'home' %}#home" id="navbar_logo">
            <img src="{% static 'assets/logo128.png' %}" />
            <h1>Oxford Guild of Assassins</h1>
        </a>

        <!-- Menu bar-->
        <ul id="navbar_menu">
            <!-- Home Link -->
            <a href="{% url 'home' %}#home" class="navbar_button">
                <li> Home </li>
            </a>

            <!-- About Link -->
            <a href="{% url 'home' %}#about" class="navbar_button">
                <li> About </li>
            </a>
            
            <!-- Termcard Link -->
            <a href="{% url 'home' %}#termcard" class="navbar_button">
                <li> Termcard </li>
            </a>

            <!-- Cabal Link -->
            <a href="{% url 'home' %}#cabal" class="navbar_button">
                <li> Cabal </li>
            </a>

            <!-- ToDo Logic for when to show -->
            <!-- Play Link -->
            <a href="" class="navbar_button">
                <li> Play </li>
            </a>
        
            <!-- Login or Account/Logout -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'account' %}" class="navbar_button">
                    <li> Account </li>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="navbar_button">
                    <li> Login </li>
                </a>
            {% endif %}
        </ul>
    </nav>
</header>

