/* constants ################################################################
*/
:root {
    --oga-black:#000000;
    --oga-dark: #171717;
    --oga-mid:  #222222;
    --oga-light:#444444;
    --oga-white:#FFFFFF;
    --oga-red:  #C70F0F;

    --oga-title: "Orbitron", sans-serif;
    --oga-text: 'Titillium Web', sans-serif;
    --oga-serif: "EB Garamond", serif;
}

/* any ################################################################
*/
body {
    background-color: var(--oga-dark);

    font-family: var(--oga-text);
    color: var(--oga-white);

    display: grid;
    grid-template-rows: auto auto;

    margin: 0px;
}

a {
    color: var(--oga-white);
    text-decoration: none;
}

/* main.html ################################################################
    debug-messages
*/
.debug-messages {

}

/* navbar.html ################################################################*/

.navbar {    
    background-color: var(--oga-black);
    display: grid;
}
    
.navbar_logo {
    grid-area: "ga_logo";

    display: grid;
    grid-template-columns: auto 1fr;
}

.navbar_logo img {
    width: 72px;
}

.navbar_logo h1 {
    font-family: var(--oga-title);
}

.navbar_menu {
    grid-area: "ga_menu";
    
    display: grid;
    margin: 1em;
    padding: 0;

    grid-template-columns: repeat(7, auto);
    gap: 1em;
}

.navbar_element {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--oga-white);

    list-style-type: none;
    padding: 0;
}

.navbar_element:hover {
    background-color: var(--oga-light);
}

.navbar_element:active {
    background-color: var(--oga-red);
}

.navbar_element li {
    padding: 0.5em;
    text-align: center;
}

.navbar_account {

}

@media (min-width: 975px) {
    .navbar {
        grid-template-columns: 1fr auto;
        grid-template-areas: "ga_logo ga_menu";
    }
}
@media (max-width: 975px) {
    .navbar {
        grid-template-areas: "ga_logo", "ga_menu";
    }
    .navbar_menu {
        margin-top: 0;
        margin-bottom: 0;
        gap: 0.25em;
    }
    .navbar_element li {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}
@media (max-width: 440px) {
    .navbar_logo img {
        margin-top: 1em;
    }    
}

/* ################################################################
wrapper
*/

.wrapper {
    margin: 0.5em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    background-color: var(--oga-mid);
}