<div> <!-- to match formatting of other sections -->
<div id="about_guild" class="content">
    <h2>About</h2>
    <p>
        Death! Destruction! Terror in the streets of Oxford! The Oxford Guild of Assassins are feared, hungry an-
    </p>
    <p>
        Ok, so no. There was once a time where the Guild was more like… That, although I’ll leave you to do your own research. Now, however? The Oxford Guild of Assassins, or OGA for short, is an (unofficial) society of the University of Oxford, whose members dedicate several weeks of their busy Uni lives per term to repeatedly hunt down and kill fellow Assassins. Nerf guns, pens, spatulas, even boxes labelled as fridges are used to dispatch your rivals. Each day of any ‘Game’ sees cold, calculated murder, ruthless strategy and a hell of a lot of fun! Events and, in more recent years, lore and storytelling, bring Assassins together during the game - over the past year, they’ve battled rogue A.I.s, shadowy villains and many different apocalypses.
    </p>
    <p>
        That’s just a few weeks in a term, mind. Outside of that, Assassins are very nice people - the Guild holds social events, as well as one-off events from time-to-time. Just to keep the blood pumping, and prepare you for the next time someone knocks at your door…  
    </p>
</div>

<div id="about_games" class="content">
    <h2>Our Games</h2>
    <p>
        The Games are the main feature of the Guild’s activities, they are typically a week-long, themed murder-fest in which several teams of Assassins compete for dominance over the city by carrying out assassinations on other players, using a wide variety of (mock) weaponry, pens and nerf guns being the most likely, but we’ve also seen foam swords, poisoned wet wipes, rainbow sock puppets, and a sentient football named Timothy.
    </p>
    <br>
    <h3>The Golden Rules</h3>
    <ul>
        <li>Don’t do anything stupid. You are responsible for your own actions.</li>
        <li>Don’t do anything that could damage anyone or anything (preferably including yourself).</li>
        <li>Avoid annoying, killing, or otherwise inconveniencing non-players.</li>
        <li>Weapons should be balanced (defensible) and safe. Please query anything unusual.</li>
        <li>The spirit of the rules is more important than the letter! If the Umpire feels you are unfairly exploiting a loophole, then the rules may be changed during the game to fix this.</li>
    </ul>
</div>

<div id="about_disclaimer" class="content">
    Ultimately, it’s good to make clear that the Oxford Guild of Assassins neither commits nor encourages the inhuming of people in reality! Our assassination games are for amusement only and are good-willed events. Participants must take great care not to harm themselves or others, and furthermore not to damage property or disrupt public, University, or college business. The Guild is about having fun and meeting people in an interesting and unique way, not terrorising the population of Oxford.  
</div>
</div>