{% extends 'main.html' %}

{% block content %}

<!-- Landing Page -->
<section id="home" class="align_hc">
    {% include 'base/home.html' %}
</section>

<!-- About Page -->
<section id="about">
    {% include 'base/about.html' %}
</section>

<!-- Termcard Page -->
<section id="termcard">
    {% include 'base/termcard.html' %}
</section>

<!-- Cabal Page -->
<section id="cabal">
    {% include 'base/cabal.html' %}
</section>

<section>
    <div class="align_hr" style="
        background-color: var(--oga-black);
        margin: auto -0.5em 0 -0.5em;
        padding: 1em;
    ">
        <h4 style="font-size: small; margin-top: 0.5em; margin-bottom: 0;">
            Copyright &copy 2022 Daniel Meakings-Clark. All Rights Reserved
        </h4>
    </div>
</section>

{% endblock content %}
