{% extends 'main.html' %}

{% block content %}

<!-- Landing Page -->
<section id="home" class="center_h">
    {% include 'base/home.html' %}
</section>

<!-- About Page -->
<section id="about">
    {% include 'base/about.html' %}
</section>

<!-- Termcard Page -->
<section id="termcard">
    {% include 'base/termcard.html' %}
</section>

<!-- Cabal Page -->
<section id="cabal">
    {% include 'base/cabal.html' %}
</section>

<section>
    <div style="
        display: flex;
        flex-direction: column;
        background-color: var(--oga-black);
        margin: auto -0.5em 0 -0.5em;
        padding: 1em;
    ">
        <h4>Website Development</h4>
        <p style="font-size: small; margin-top: 0.5em; margin-bottom: 0;">
            Hi, my name is Dan Meakings-Clark, I studied Maths and Computer Science at Christ Church and during my time at Oxford, I was an Assassin known as Elysium Lark. 
            I became a member of the Guild in 2021, the second year after the Great Overhaul of Illeyra. I joined the Cabal in 2022 as Treasurer, and oversaw the Guild's restructuring into a legal entity.
        </p>
        <p style="font-size: small; margin-top: 0.5em; margin-bottom: 0;">
            At that time, we were still emailing reports of our kills and deaths to the umpires, who would take entire weeks out of their very busy university terms to trawl through hundreds of emails and piece together a coherent narrative.
            I began work on this website over the long vac 2022 to provide the guild with a new front, and to run the games automatically, so the Umpires no longer had to trawl through data, and could act more as creative overseers.
        </p>
        <p style="font-size: small; margin-top: 0.5em; margin-bottom: 0;">
            The Webmaster role was added to the Cabal to support continued maintanence for the website and game management system.
            <br>
            I can be contacted via the Guild Discord or E-Mailed at OGA-D@nielClark.com for any questions. 
        </p>
    </div>
</section>

{% endblock content %}
