{% load static %}

<div class="content">
    <h2>Cabal</h2>
    <p>
        The Cabal is a collection of Assassins who take on the duties of running the Guild. There are multiple different roles and responsibilities within the Cabal, which are described in their own sections. Overarchingly, Cabal members work together to maintain and operate the Guild, both day-to-day as well as through organisation of events and games. Every Cabal member will umpire a game during their year-long term, bringing their own unique ideas and flair to always make for a great week!
    </p>
</div>

<div id="cabal_cards">
    <div class="content">
        <!--<img src="{% static 'assets/cabal_guildmaster.jpg' %}">-->
        <h3>Guildmaster</h3>
        <p>
            Hi, my name is Lily, I'm a Fourth Year studying Computer Science at Balliol, and in game I go by the pseudonym Ileyra.
        </p>
        <p>
            As the Guildmaster, I oversee the running of the entire guild. I organise when games will run, who will run them, the annual Fresher's fair, stash, and anything else which doesn't fall under a specific role.
        </p>
    </div>

    <div class="content">
        <!--<img src="{% static 'assets/cabal_treasurer.jpg' %}">-->
        <h3>Treasurer</h3>
        <p>
            Hi, my name is Dan, I'm a Second Year studying Maths and Computer Science at Christ Church, and in game I go by the pseudonym Elysium.
        </p>
        <p>
            As the Treasurer of the Guild, I'm in charge of the guild bank account and finances. I'm also responsible for taking in membership fees and managing the membership list.
        </p>
    </div>

    <div class="content">
        <!--<img src="{% static 'assets/cabal_archivist.jpg' %}">-->
        <h3>Archivist</h3>
        <p>
            Hi, my name is Sid, I'm a Fourth Year studying Physics at Lincoln.
        </p>
        <p>
            As the archivist, my job is to manage the guild archives. I gather together reports, communications, and anything else interesting or worthy of archival. I'm also responsible for taking minutes at the AGM.
        </p>
    </div>

    <div class="content">
        <!--<img src="{% static 'assets/cabal_social_secretary.jpg' %}">-->
        <h3>Social Secretary</h3>
        <p>
            Hi, my name is George, I'm a Third Year studying Classics at Somerville, and in game I go by the pseudonym Man-Bat.
        </p>
        <p>
            As the social secretary, I organise and run socials and other activities outside of the games. I'm in charge of booking rooms for events and ensuring everything (and everyone) is left in a good state afterwards.
        </p>
    </div>

    <div class="content">
        <!--<img src="{% static 'assets/cabal_mwp_1.jpg' %}">-->
        <h3>MWP</h3>
        <p>
            Hi, my name is Jack, I'm a Third Year studying Biochemistry at St Hugh's, and in game I go by the pseudonym Hop.
        </p>
        <p>
            As an MWP I do not have do not have specific job responsibilities, I instead help the other Cabal members where possible and, will be frequently consulted by the Guildmaster on assassin-related matters.
        </p>
    </div>

    <div class="content">
        <!--<img src="{% static 'assets/cabal_mwp_2.jpg' %}">-->
        <h3>MWP</h3>
        <p>
            Hi, my name is Sage, I'm a Second Year studying Experimental Psycology at St Hugh's, and in game I go by the pseudonym Mre. Velyrra.
        </p>
        <p>
            As an MWP I do not have do not have specific job responsibilities, I instead help the other Cabal members where possible and, will be frequently consulted by the Guildmaster on assassin-related matters.
        </p>
    </div>
</div>