{% extends 'main.html' %}

<!-- base/home.html -->

{% block content %}

<div class="content">
    <p>
        Death! Destruction! Terror in the streets of Oxford! The Oxford Guild of Assassins are feared, hungry an-
    </p>
    <p>
        Ok, so no. There was once a time where the Guild was more like… That, although I’ll leave you to do your own research. Now, however? The Oxford Guild of Assassins, or OGA for short, is an (unofficial) society of the University of Oxford, whose members dedicate several weeks of their busy Uni lives per term to repeatedly hunt down and kill fellow Assassins. Nerf guns, pens, spatulas, heck, even boxes labelled as fridges are used to dispatch your rivals. Each day of any ‘Game’ sees cold, calculated murder, ruthless strategy and a hell of a lot of fun! Events and, in more recent years, lore and storytelling, bring Assassins together during the game - over the past year, they’ve battled rogue A.I.s, shadowy villains and many different apocalypses.
    </p>
    <p>
        That’s just a few weeks in a term, mind. Outside of that, Assassins are very nice people - the Guild holds social events, as well as one-off events from time-to-time. Just to keep the blood pumping, and prepare you for the next time someone knocks at your door…  
    </p>
    <p>
        Welcome to v0.0 of the Guild Website, I'd like to begin by extending my thanks to each of the Assassins who has contributed to the project so far. The text written is fantastic and will fill the pages out nicely when they exist.
    </p>
    <p>
        The next sprint will last four weeks until the end of term, when full pace development will begin. The last was for the writers, this one is for everyone, I want to see sketches, mockups, ideas and inspiration for the direction you want the website to go in. This is your chance to influence the big picture, show me what you want to see made!
    </p>
    <p>
        Many thanks for your continued support,
        <br>
        Elysium Lark
    </p>
</div>

<div class="content">
    <p>
        {% lorem 1 b random %}
    </p>
</div>

{% endblock content %}