{% load static %}

<!-- home background image -->
<img id="home_background" src="{% static 'assets/home_background.jpg' %}">

<!-- spacer -->
<br>

<!-- OGA logo -->
<div class="center_h">
    <img id="home_logo" src="{% static 'assets/logo512.png' %}">
</div>

<!-- welcome tagline -->
<h2 id="home_tagline">Welcome to the Oxford Guild of Assassins!</h2>

<!-- play/discord buttons -->
<div class="home_buttons">
    <a href="">
        <h3>Play</h3>
    </a>

    <a href="https://discord.gg/e9WNb4Ywse">
        <h3>Discord</h3>
    </a>
</div>

<!-- spacer -->
<br>