{% extends 'main.html' %}

<!-- base/home.html -->

{% block content %}

base/home.html 

Death! Destruction! Terror in the streets of Oxford! The Oxford Guild of Assassins are feared, hungry an-
Ok, so no. There was once a time where the Guild was more like… That, although I’ll leave you to do your own research. Now, however? The Oxford Guild of Assassins, or OGA for short, is an (unofficial) society of the University of Oxford, who’s members dedicate several weeks of their busy Uni lives per term to repeatedly hunt down and kill fellow Assassins. Nerf guns, pens, spatulas, heck, even boxes labelled as fridges are used to dispatch your rivals. Each day of any ‘Game’ sees cold, calculated murder, ruthless strategy and a hell of a lot of fun! Events and, in more recent years, lore and storytelling, bring Assassins together during the game - over the past year, they’ve battled rogue A.I.s, shadowy villains and many different apocalypses.
That’s just a few weeks in a term, mind. Outside of that, Assassins are very nice people - the Guild holds social events, as well as one-off events from time-to-time. Just to keep the blood pumping, and prepare you for the next time someone knocks at your door…  


{% endblock content %}