<div id="termcard_brief" class="content">
    <h2>Termcard</h2>
    <p>
        The termcard is a brief calendar of the Guild's upcoming events and games. This is the termcard for Michaelmas term 2022.
    </p>
    <ul>
        <li>07 October - Fresher's Taster</li>
        <li>17 October - Michaelmas Week 2 Game</li>
        <li>22 November - Michaelmas Week 7 Game</li>
    </ul>
</div>

<div id="termcard_details">
    <div class="content">
        <h3>07 October - Fresher's Taster</h3>
        <p>
            The Fresher's Taster Game is a one-evening introduction to the fun to be had in the guild for the freshers, and any other prospective assassins. 
        </p>
    </div>
    <div class="content">
        <h3>17 October - Michaelmas Week 2 Game</h3>
        <p>
            The Michaelmas Week 2 Game  runs for the week commencing Monday of week 2 (17th of October).
        </p>
    </div>
    <div class="content">
        <h3>22 November - Michaelmas Week 7 Game</h3>
        <p>
            The Michaelmas Week 7 Game runs for the week commencing Monday of week 7 (22nd of November).
        </p>
    </div>
</div>