<div class="content">
    <h2>Termcard</h2>
    <p>
        The termcard is a brief calendar of the Guild's upcoming events and games. This is the termcard for Michaelmas term 2022.
    </p>
    <ul>
        <li>Wednesday 12th October - Fresher's Taster</li>
        <li>Monday 17th October - Fresher's Game (Week 2 Game)</li>
        <li>Friday 4th November - Week 4 Social</li>
        <li>Monday 21st November - Into the Breach (Week 7 Game)</li>
    </ul>
</div>

<div>
    <div class="content">
        <h3>Wednesday 12th October - Fresher's Taster</h3>
        <p>
            The Fresher's Taster is a one evening introduction to how the guild operates. It is open to anyone who has never played a game with us before - fresher or not. No membership fee is required to play in this event, just turn up and play! It will begin at 7pm in Radcliffe Square.
        </p>
    </div>
    <div class="content">
        <h3>Monday 17th October - Fresher's Game (Week 2 Game)</h3>
        <p>
            The Fresher's Game is our first game of the year, running during the week commencing Monday of week 2 (17th October). Despite the name, it is open to all assassins, regardless of whether they are a fresher or not, though several weapon restrictions will be in place to ensure new assassins will have a great chance to compete with no investment into heavier weaponry - pens will suffice for this game. Sign ups open on Monday 10th October.
    </div>
    <div class="content">
        <h3>Friday 4th November - Week 4 Social</h3>
        <p>
            This year's first assassins social! We'll book a room somewhere, usually in the SU, and have an evening playing board games, video games, eating snacks and optionally drinking alcohol! Everyone is welcome, and we'd really recommend coming along to get to know your fellow assassins better!
        </p>
    </div>
    <div class="content">
        <h3>Monday 21st November - Into the Breach (Week 7 Game)</h3>
        <p>
            Into the Breach is our second game of the year, running during the week commencing Monday of week 7 (21st November). It will be the first of the year to feature our usual weapon rules, so nerf guns are back on the table! Of course, all assassins are welcome to sign up to this game too. Sign ups open on Monday 14th November. commencing Monday of week 7 (22nd of November).
        </p>
    </div>
</div>